* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url('assets/background.png');
    background-size: cover; /* This makes the image cover the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
}



@font-face {
    font-family: CustomFontTitle;
    src: url(fonts/AldotheApache.ttf);
}
@font-face {
    font-family: CustomFontSideBar;
    src: url(fonts/Montserrat-Bold.ttf);
}
header{
        position: fixed;
        width: 100%; 
        z-index: 10; 
}


.logo {
    font-family: CustomFontTitle;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    padding: 0.3em;
}
.box1 {
background-color: #2E6063;
padding: 0.1em;
}

.box2 {
    background-color: white ;
    padding: 0.1em;
}

.box3 {
    background-color: #73AF89;
    padding: 0.5em;
}

.box4 {
    background-color: #ABA744;
    padding: 0.1em;
}

p{
    font-size: large;
}



fooder{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 11; 
}
    .box5 {
    background-color: #73AF89;
    padding: 0.3em;
     }

    .box6 {
    background-color: #2E6063;
    padding: 1em;
    }

    .tpbtn {
            font-family: CustomFontSideBar;
            background-color: #2E6063;
            border: 0.3em solid #73AF89;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s, border-color 0.3s;
          }
          
          .tpbtn:hover {
            background-color: #73AF89;
            border-color: #2e606300;
          

    }

    .tpbtn2 {
        font-family: CustomFontSideBar;
        background-color: #2E6063;
        border: 0.4em solid #73AF89;
        color: white;
        padding: 10px 20px;
        border-radius: 0.2em;
        cursor: pointer;
        font-size: 10px;
        transition: background-color 0.3s, border-color 0.3s;
      }
      
      .tpbtn2:hover {
        background-color: #af7373;
        border-color: #2e606300;
      

}