<!DOCTYPE html>
<html>
<head>
    <title>Username and Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <form>
            <h1>Welcome to the Home Page</h1>
            <p><a href="/signup" class="btn btn-signup">Sign Up</a></p>
            <p><a href="/login" class="btn btn-login">Log In</a></p>
        </form>
    </div>
</body>
</html>
