<!-- templates/login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
    <h1>Log In</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="container">
        <form method="post" action="/login">
            <div class="input-container">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter Instagram Username" onfocus="handleUsernameFocus(this)" onblur="handleUsernameBlur(this)" required>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" value="Log In">Submit</button>
        </form>
    </div>
</body>
</html>
